POSTGRES_DB=consulta_cep
POSTGRES_USER=postgres
POSTGRES_PASSWORD=consulta_cep_dev

FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8080
POSTGRES_HOST_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/consulta_cep
DB_USERNAME=postgres
DB_PASSWORD=
